body {
    background-color: plum;
    font-family: Verdana;

}
form {
    background-color: #fff;
    max-width: auto;
    margin: 50px auto;
    padding: 20px 20px;
    box-shadow: 20px 5px 10px rgba(0, 0, 0, 0.5);
}
button {
            background-color: greenyellow;
            font-family: inherit;
            font-size: 21px;
}

.checked {
    color: orange;
}